@(message: String)

@main("Help Scout Test") {
    <div class="row">
      
          <h1>Add Customer</h1>

          <form id="add-user">
	    
	    <div class="medium-12 columns">
	    <div class="row">
	      <div class="medium-4 columns">
		First Name: <input type="text" name="firstName">
		Last name: <input type="text" name="lastName">
		E-mail: <input type="email" name="email">
		Phone Number: <input type="text" name="phoneNumber">
	      </div>
	    </div>
	    
	    <div class="row">
	      <div class="medium-3 medium-centered columns">
		<a class="button" id="add-customer-button">Add Customer</a>
	      </div>
	    </div>
	    </div>
	  </form>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
	<h1>Current Customers</h1>
	<table id="customer-table">
	  <thead>
	    <tr>
	      <th width="100">First Name</th>
	      <th width="100">Last Name</th>
	      <th width="150">Email(s)</th>
	      <th width="125">Phone Number(s)</th>
	      <th width="50">Delete</th>
	  </thead>
	  <tbody id="customer-body">
	    
	  </tbody>
	</table>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
	<h1>Potential Duplicate Customers</h1>
	<ul id="duplicate-customers">
	</ul>
      </div>
    </div>
}
