@(message: String)

@main("Help Scout Test") {
    <div class="row">
      <div class="medium-5 columns">
          <h1>Add Customer</h1>

          <form id="add-user" autocomplete="on">
	    First Name: <input type="text" name="firstName">
	    Last name: <input type="text" name="lastName">
	    E-mail: <input type="email" name="email">
	    Phone Number: <input type="text" name="phoneNumber">
	    <h3>Social Media Usernames</h3>
	    Username: <input type="text" name="username">
	    Platform: <input type="text" name="platform">
	    <h3>Jobs</h3>
	    Company: <input type="text" name="company">
	    Position: <input type="text" name="position">
            
	    <a class="button" id="add-customer-button">Add Customer</a>
	  </form>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
	<h1>Current Customers</h1>
	<table id="customer-table">
	  <thead>
	    <tr>
	      <th width="100">First Name</th>
	      <th width="100">Last Name</th>
	      <th width="150">Email(s)</th>
	      <th width="150">Phone Number(s)</th>
	      <th width="100">Username(s)</th>
	      <th width="100">Job(s)</th>
	  </thead>
	  <tbody id="customer-body">
	    
	  </tbody>
	</table>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
	<h1>Potential Duplicate Customers</h1>
	<table id="duplicate-customers">
	</table>
      </div>
    </div>
}
