@(message: String)

@main("Help Scout Test") {
    <div class="row">
      <div class="medium-4 columns">
          <h3>Add Customer</h3>
          <form id="add-user">
	    First Name: <input type="text" name="firstName">
	    Last name: <input type="text" name="lastName">
	    E-mail: <input type="email" name="email">
	    Phone Number: <input type="text" name="phoneNumber">
	    <a class="button" id="add-customer-button">Add Customer</a>
	  </form>
      </div>
      <div class="medium-8 columns">
	<h3>Current Customers</h3>
	<table id="customer-table">
	  <thead>
	    <tr>
	      <th width="100">First Name</th>
	      <th width="100">Last Name</th>
	      <th width="150">Email(s)</th>
	      <th width="125">Phone Number(s)</th>
	      <th width="50">Delete</th>
	    </tr>
	  </thead>
	  <tbody id="customer-body">
	    
	  </tbody>
	</table>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
	<h1>Potential Duplicate Customers</h1>
	<div id="duplicates-tables">
	</div>
      </div>
    </div>
}
